<BsNavbar
  @type="dark"
  @backgroundColor="success"
  class="d-flex justify-content-between"

  as |navbar|
>
  <div class="navbar-header">
    <LinkTo class="navbar-brand" @route="index">Trails</LinkTo>
  </div>

  <navbar.content>
    <navbar.nav as |nav|>
      <nav.item>
        <nav.link-to @route="index">Маршрути</nav.link-to>
      </nav.item>
      <nav.item>
        <nav.link-to @route="index">Історії</nav.link-to>
      </nav.item>
      <nav.item>
        <nav.link-to @route="index">Транспорт</nav.link-to>
      </nav.item>
    </navbar.nav>
  </navbar.content>
</BsNavbar>

{{yield}}